
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: auto;
  margin-block: auto;

  & > * {
    height: 100%;
    width: 100%;
  }

  & > button {
    height: 20px;
    width: 50px;
  }
}

.p {
  .pc {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;

    button {
      font-size: 13px;
      font-weight: 500;
      background: darkorange;
      border-radius: 5px;
      padding: 4px;
      color: #fafafa;
      cursor: pointer;
      width: 100%;
      transition: all 0.3s ease-in-out;

      &:last-of-type {
        background: white;
        color: darkorange;
        border: 1px solid darkorange;

        &:hover {
          background: darkorange;
          color: white;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }
}
